@use "../abstracts" as *;

.requiredInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-block: 1rem;

    @include screen($screen-s){
        flex-direction: row;
    } 

    &__credentials {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        gap: 0.25rem;
        font-size: .75rem;
        
        p {
            font-size: .75rem;
        }
    }

    &__link {
        text-decoration: none;
        color: $clr-white;
        font-size: .75rem;

        &:hover {
            cursor: pointer;
            color: $clr-black;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        
        &::after {
            content: "-";
            display: block;
            margin: 0 0.25rem;

        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }

    &__link {
        color: $clr-white;
        font-family: $ff;
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__g {
        height: 1rem;
        width: auto;
        aspect-ratio: 1/1;
    }
}