<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {# Code when vite runs, disable when build  #}
    {{ craft.vite.script("src/styles/main.scss") }}
    {# Add build document in web/dist after build  #}
</head>
<body>
    {% block content %}{% endblock %}
    {{ craft.vite.script("src/scipts/main.js") }} 
</body>
</html>