// Colors 
$clr-primary: white;
$clr-secondary: white;
$clr-tertiary: white; 

// Border Radius
$br: 1rem;
$br--mobile: 1rem; 

// Font Families  
$ff: sans-serif; 

// Font Weights 
$fw-regular: 300;
$fw-medium: 600; 
$fw-bold: 700;

// Font Sizes 
$fs-p: 1rem;
$fs-p--mobile: 1rem;
$fs-h1: 1rem;
$fs-h1--mobile: 1rem;
$fs-h2: 1rem;
$fs-h2--mobile: 1rem;
$fs-h3: 1rem;
$fs-h3--mobile: 1rem;

$fs-btn: 1rem;
$fs-btn--mobile: 1rem; 

// Breakpoints screen 
$screen-xs: 480px; // mobile portrait
$screen-s: 768px; // tablet portrait
$screen-m: 1024px; // tablet landscape 
$screen-l: 1280px; // small desktop 
$screen-l: 1440px; //large desktop 

// Spacing 

$spacing: 4rem;